# Dependency directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Local configuration and secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and Editor directories
.vscode/
.idea/
.DS_Store

# Version control
.git/
.gitignore

# Docker configurations
Dockerfile
.dockerignore
