MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=your_db_name
JWT_SECRET=your_super_secret_jwt_key_here
JWT_ALGORITHM=HS256
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=43200
PROJECT_NAME=Hackathon Starter

# Server settings (used by run.py)
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
BACKEND_WORKERS=4
